<h1> Burgers!</h1>

<h2>Burgers that you want to devour!</h2>

<ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>{{ burger_name }}</li>
    {{/unless}}
  
        
    {{/each}}
</ul>

<form id="createburger" class= "button-size">
    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
        <button type="submit">Add Burger!</button>
    </div>
</form>

<h2>Burgers that you have devoured</h2>

<ul>
     {{#each burgers}}
     {{#unless devoured}}
      {{> burgers devoured=true}}
    {{/unless}}
   
        
     {{/each}}
</ul>
<form id="updateburger" class="button-size">
   
    <textarea type="text" name="burger" placeholder="burger"></textarea>

<button type="Submit">Devoured</button>
</form>
